---
swagger: "2.0"
info:
  description: "\nThis is an official SDK for [ClickSend](https://clicksend.com)\n\
    \nBelow you will find a current list of the available methods for clicksend.\n\
    \n*NOTE: You will need to create a free account to use the API. You can register\
    \ [here](https://dashboard.clicksend.com/#/signup/step1/)..*\n"
  version: "3.1"
  title: "ClickSend v3 API"
  termsOfService: "https://www.clicksend.com/au/legal/terms-of-service/"
  contact:
    email: "support@clicksend.com"
host: "rest.clicksend.com"
basePath: "/v3"
tags:
- name: "Account"
  description: "Everything about Accounts"
- name: "Subaccount"
  description: "Everything about Subaccounts"
- name: "SMS"
  description: "Endpoints for sending and viewing messages"
- name: "Sms Campaign"
  description: "Everything about launching and managing SMS Campaigns"
- name: "MMS"
  description: "Everything about sending MMS"
- name: "Post Letter"
  description: "Everything about sending Letters"
- name: "Post Postcard"
  description: "Everything about sending Postcards"
- name: "Post Direct Mail"
  description: "Everything about distributing Flyers"
- name: "Post Return Address"
  description: "Everything about Post Return Addresses"
- name: "Voice"
  description: "Everything about sending and viewing responses to voice messages"
- name: "Fax"
  description: "Everything about sending and viewing fax"
- name: "Email To Sms"
  description: "Everything about Email to SMS"
- name: "Number"
  description: "Everything about purchasing dedicated numbers"
- name: "ContactList"
  description: "Everything about creating and manipulating contact lists"
- name: "Contact"
  description: "Everything about creating moving and deleting contacts"
- name: "Statistics"
  description: "Everything about account statistics"
- name: "Search"
  description: "Everything about searching contact lists"
- name: "Upload"
  description: "Everything about uploading media files"
- name: "Account Recharge"
  description: "Everything about recharging accounts with credit"
- name: "Transfer Credit"
  description: "Everything about transfering credit for resellers"
- name: "Referral Account"
  description: "Everything about viewing referred accounts"
- name: "Reseller Account"
  description: "Everything about viewing creating and modifying clients accounts."
- name: "Countries"
  description: "Everything about viewing country code mapping"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /countries:
    get:
      tags:
      - "Countries"
      summary: "Get all country codes"
      description: "Get all countries"
      operationId: "CountriesGet"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /sms/send:
    post:
      tags:
      - "SMS"
      summary: "Send sms message(s)"
      description: "\n# Send one or more SMS messages\n\nYou can post up to 1000 messages\
        \ with each API call. You can send to a mix of contacts and contact lists,\
        \ as long as the total number of recipients is up to 1000. \nThe response\
        \ contains status and details for each recipient.\n\n*Refer to [Application\
        \ Status Codes](https://dashboard.clicksend.com/#/signup/step1/) for the possible\
        \ response message status strings.*\n"
      operationId: "SmsSendPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "smsMessages"
        description: "SmsMessageCollection model"
        required: true
        schema:
          $ref: "#/definitions/SmsMessageCollection"
        x-exportParamName: "SmsMessages"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /voice/send:
    post:
      tags:
      - "Voice"
      summary: "Send voice message(s)"
      description: "Send a voice call"
      operationId: "VoiceSendPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "voiceMessages"
        description: "VoiceMessageCollection model"
        required: true
        schema:
          $ref: "#/definitions/VoiceMessageCollection"
        x-exportParamName: "VoiceMessages"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /account:
    get:
      tags:
      - "Account"
      summary: "Get account information"
      description: "Get account details"
      operationId: "AccountGet"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    post:
      tags:
      - "Account"
      summary: "Create a new account"
      description: "Create An Account"
      operationId: "AccountPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "account"
        description: "Account model"
        required: true
        schema:
          $ref: "#/definitions/Account"
        x-exportParamName: "Account"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /account/usage/{year}/{month}/subaccount:
    get:
      tags:
      - "Account"
      summary: "Get account useage by subaccount"
      description: "Get account useage by subaccount"
      operationId: "AccountUseageBySubaccountGet"
      produces:
      - "application/json"
      parameters:
      - name: "year"
        in: "path"
        description: "Year to filter by (yyyy)"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Year"
      - name: "month"
        in: "path"
        description: "Month to filter by (mm)"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Month"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /account-verify/send:
    put:
      tags:
      - "Account"
      summary: "Send account activation token"
      description: "Send account activation token"
      operationId: "AccountVerifySendPut"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "accountVerify"
        description: "Account details"
        required: true
        schema:
          $ref: "#/definitions/AccountVerify"
        x-exportParamName: "AccountVerify"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /account-verify/verify/{activation_token}:
    put:
      tags:
      - "Account"
      summary: "Verify new account"
      description: "Verify new account"
      operationId: "AccountVerifyVerifyByActivationTokenPut"
      produces:
      - "application/json"
      parameters:
      - name: "activation_token"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ActivationToken"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /sms/price:
    post:
      tags:
      - "SMS"
      summary: "Calculate sms price"
      description: "Calculate sms price"
      operationId: "SmsPricePost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "smsMessages"
        description: "SmsMessageCollection model"
        required: true
        schema:
          $ref: "#/definitions/SmsMessageCollection"
        x-exportParamName: "SmsMessages"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /sms/history/export:
    get:
      tags:
      - "SMS"
      summary: "Export all sms history"
      description: "Export all sms history"
      operationId: "SmsHistoryExportGet"
      produces:
      - "application/json"
      parameters:
      - name: "filename"
        in: "query"
        description: "Filename to download history as"
        required: true
        type: "string"
        x-exportParamName: "Filename"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /sms/receipts:
    get:
      tags:
      - "SMS"
      summary: "Get all delivery receipts"
      description: "Get all delivery receipts"
      operationId: "SmsReceiptsGet"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    post:
      tags:
      - "SMS"
      summary: "Add a delivery receipt"
      description: "Add a delivery receipt"
      operationId: "SmsReceiptsPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "url"
        description: "Url model"
        required: true
        schema:
          $ref: "#/definitions/Url"
        x-exportParamName: "Url"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /sms/receipts-read:
    put:
      tags:
      - "SMS"
      summary: "Mark delivery receipts as read"
      description: "Mark delivery receipts as read"
      operationId: "SmsReceiptsReadPut"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "dateBefore"
        description: "DateBefore model"
        required: false
        schema:
          $ref: "#/definitions/DateBefore"
        x-exportParamName: "DateBefore"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /sms/inbound:
    get:
      tags:
      - "SMS"
      summary: "Get all inbound sms"
      description: "Get all inbound sms"
      operationId: "SmsInboundGet"
      produces:
      - "application/json"
      parameters:
      - name: "q"
        in: "query"
        description: "Your keyword or query."
        required: false
        type: "string"
        x-exportParamName: "Q"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    post:
      tags:
      - "SMS"
      summary: "Create inbound sms"
      description: "Create inbound sms"
      operationId: "SmsInboundPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "url"
        description: "Url model"
        required: true
        schema:
          $ref: "#/definitions/Url"
        x-exportParamName: "Url"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /sms/{message_id}/cancel:
    put:
      tags:
      - "SMS"
      summary: "Update scheduled message as cancelled"
      description: "Update scheduled message as cancelled"
      operationId: "SmsCancelByMessageIdPut"
      produces:
      - "application/json"
      parameters:
      - name: "message_id"
        in: "path"
        description: "The message ID you want to cancel"
        required: true
        type: "string"
        x-exportParamName: "MessageId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /sms/cancel-all:
    put:
      tags:
      - "SMS"
      summary: "Update all scheduled message as cancelled"
      description: "Update all scheduled message as cancelled"
      operationId: "SmsCancelAllPut"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /sms/templates:
    get:
      tags:
      - "SMS"
      summary: "Get lists of all sms templates"
      description: "Get lists of all sms templates"
      operationId: "SmsTemplatesGet"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    post:
      tags:
      - "SMS"
      summary: "Create sms template"
      description: "Create sms template"
      operationId: "SmsTemplatesPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "smsTemplate"
        description: "SmsTemplate model"
        required: true
        schema:
          $ref: "#/definitions/SmsTemplate"
        x-exportParamName: "SmsTemplate"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /sms/templates/{template_id}:
    put:
      tags:
      - "SMS"
      summary: "Update sms template"
      description: "Update sms template"
      operationId: "SmsTemplatesByTemplateIdPut"
      produces:
      - "application/json"
      parameters:
      - name: "template_id"
        in: "path"
        description: "Template id"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "TemplateId"
      - in: "body"
        name: "smsTemplate"
        description: "Template item"
        required: true
        schema:
          $ref: "#/definitions/SmsTemplate"
        x-exportParamName: "SmsTemplate"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    delete:
      tags:
      - "SMS"
      summary: "Delete sms template"
      description: "Delete sms template"
      operationId: "SmsTemplatesByTemplateIdDelete"
      produces:
      - "application/json"
      parameters:
      - name: "template_id"
        in: "path"
        description: "Template id"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "TemplateId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /voice/price:
    post:
      tags:
      - "Voice"
      summary: "Calculate voice price"
      description: "Calculate voice price"
      operationId: "VoicePricePost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "voiceMessages"
        description: "VoiceMessageCollection model"
        required: true
        schema:
          $ref: "#/definitions/VoiceMessageCollection"
        x-exportParamName: "VoiceMessages"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /voice/lang:
    get:
      tags:
      - "Voice"
      summary: "Get all voice languages"
      description: "Get all voice languages"
      operationId: "VoiceLangGet"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /voice/receipts:
    get:
      tags:
      - "Voice"
      summary: "Get all delivery receipts"
      description: "Get all delivery receipts"
      operationId: "VoiceReceiptsGet"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    post:
      tags:
      - "Voice"
      summary: "Add a delivery receipt"
      description: "Add a delivery receipt"
      operationId: "VoiceReceiptsPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "url"
        description: "Url model"
        required: true
        schema:
          $ref: "#/definitions/Url"
        x-exportParamName: "Url"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /voice/receipts-read:
    put:
      tags:
      - "Voice"
      summary: "Mark delivery receipts as read"
      description: "Mark delivery receipts as read"
      operationId: "VoiceReceiptsReadPut"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "dateBefore"
        description: "DateBefore model"
        required: false
        schema:
          $ref: "#/definitions/DateBefore"
        x-exportParamName: "DateBefore"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /voice/{message_id}/cancel:
    put:
      tags:
      - "Voice"
      summary: "Update voice message status as cancelled"
      description: "Update voice message status as cancelled"
      operationId: "VoiceCancelByMessageIdPut"
      produces:
      - "application/json"
      parameters:
      - name: "message_id"
        in: "path"
        description: "Your voice message id"
        required: true
        type: "string"
        x-exportParamName: "MessageId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /voice/cancel-all:
    put:
      tags:
      - "Voice"
      summary: "Update all voice messages as cancelled"
      description: "Update all voice messages as cancelled"
      operationId: "VoiceCancelAllPut"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /voice/history/export:
    get:
      tags:
      - "Voice"
      summary: "Export voice history"
      description: "Export voice history"
      operationId: "VoiceHistoryExportGet"
      produces:
      - "application/json"
      parameters:
      - name: "filename"
        in: "query"
        description: "Filename to export to"
        required: true
        type: "string"
        x-exportParamName: "Filename"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /subaccounts:
    get:
      tags:
      - "Subaccount"
      summary: "Get all subaccounts"
      description: "Get all subaccounts"
      operationId: "SubaccountsGet"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    post:
      tags:
      - "Subaccount"
      summary: "Create new subaccount"
      description: "Create new subaccount"
      operationId: "SubaccountsPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "subaccount"
        description: "Subaccount model"
        required: true
        schema:
          $ref: "#/definitions/Subaccount"
        x-exportParamName: "Subaccount"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /subaccounts/{subaccount_id}:
    get:
      tags:
      - "Subaccount"
      summary: "Get specific subaccount"
      description: "Get specific subaccount"
      operationId: "SubaccountsBySubaccountIdGet"
      produces:
      - "application/json"
      parameters:
      - name: "subaccount_id"
        in: "path"
        description: "ID of subaccount to get"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "SubaccountId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    put:
      tags:
      - "Subaccount"
      summary: "Update subaccount"
      description: "Update subaccount"
      operationId: "SubaccountsBySubaccountIdPut"
      produces:
      - "application/json"
      parameters:
      - name: "subaccount_id"
        in: "path"
        description: "ID of subaccount to update"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "SubaccountId"
      - in: "body"
        name: "subaccount"
        description: "Subaccount model"
        required: true
        schema:
          $ref: "#/definitions/Subaccount"
        x-exportParamName: "Subaccount"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    delete:
      tags:
      - "Subaccount"
      summary: "Delete a subaccount"
      description: "Delete a subaccount"
      operationId: "SubaccountsBySubaccountIdDelete"
      produces:
      - "application/json"
      parameters:
      - name: "subaccount_id"
        in: "path"
        description: "ID of subaccount to delete"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "SubaccountId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /subaccounts/{subaccount_id}/regen-api-key:
    put:
      tags:
      - "Subaccount"
      summary: "Regenerate an API Key"
      description: "Regenerate an API Key"
      operationId: "SubaccountsRegenApiKeyBySubaccountIdPut"
      produces:
      - "application/json"
      parameters:
      - name: "subaccount_id"
        in: "path"
        description: "ID of subaccount to regenerate API key for"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "SubaccountId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /lists:
    get:
      tags:
      - "ContactList"
      summary: "Get all contact lists"
      description: "Get all contact lists"
      operationId: "ListsGet"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    post:
      tags:
      - "ContactList"
      summary: "Create new contact list"
      description: "Create new contact list"
      operationId: "ListsPost"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "contactList"
        description: "Contact list model"
        required: true
        schema:
          $ref: "#/definitions/ContactList"
        x-exportParamName: "ContactList"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /lists/{list_id}:
    get:
      tags:
      - "ContactList"
      summary: "Get specific contact list"
      description: "Get specific contact list"
      operationId: "ListsByListIdGet"
      produces:
      - "application/json"
      parameters:
      - name: "list_id"
        in: "path"
        description: "List ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ListId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    put:
      tags:
      - "ContactList"
      summary: "Update specific contact list"
      description: "Update specific contact list"
      operationId: "ListsByListIdPut"
      produces:
      - "application/json"
      parameters:
      - name: "list_id"
        in: "path"
        description: "Your list id"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ListId"
      - in: "body"
        name: "contactList"
        description: "Contact list model"
        required: true
        schema:
          $ref: "#/definitions/ContactList"
        x-exportParamName: "ContactList"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    delete:
      tags:
      - "ContactList"
      summary: "ListsByListIdDelete"
      description: "Delete a specific contact list"
      operationId: "ListsByListIdDelete"
      produces:
      - "application/json"
      parameters:
      - name: "list_id"
        in: "path"
        description: "List ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ListId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /lists/{list_id}/remove-duplicates:
    put:
      tags:
      - "ContactList"
      summary: "Remove duplicate contacts"
      description: "Remove duplicate contacts"
      operationId: "ListsRemoveDuplicatesByListIdPut"
      produces:
      - "application/json"
      parameters:
      - name: "list_id"
        in: "path"
        description: "Your list id"
        required: true
        type: "integer"
        exclusiveMaximum: false
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "ListId"
      - in: "body"
        name: "fields"
        description: "Fields model"
        required: true
        schema:
          $ref: "#/definitions/Fields"
        x-exportParamName: "Fields"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /lists/{list_id}/contacts:
    get:
      tags:
      - "Contact"
      summary: "Get all contacts in a list"
      description: "Get all contacts in a list"
      operationId: "ListsContactsByListIdGet"
      produces:
      - "application/json"
      parameters:
      - name: "list_id"
        in: "path"
        description: "Contact list ID"
        required: true
        type: "integer"
        exclusiveMaximum: false
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "ListId"
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    post:
      tags:
      - "Contact"
      summary: "Create new contact"
      description: "Create new contact"
      operationId: "ListsContactsByListIdPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "contact"
        description: "Contact model"
        required: true
        schema:
          $ref: "#/definitions/Contact"
        x-exportParamName: "Contact"
      - name: "list_id"
        in: "path"
        description: "List id"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ListId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /lists/{list_id}/contacts/{contact_id}:
    get:
      tags:
      - "Contact"
      summary: "Get a specific contact"
      description: "Get a specific contact"
      operationId: "ListsContactsByListIdAndContactIdGet"
      produces:
      - "application/json"
      parameters:
      - name: "list_id"
        in: "path"
        description: "Your contact list id you want to access."
        required: true
        type: "integer"
        exclusiveMaximum: false
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "ListId"
      - name: "contact_id"
        in: "path"
        description: "Your contact id you want to access."
        required: true
        type: "integer"
        exclusiveMaximum: false
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "ContactId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    put:
      tags:
      - "Contact"
      summary: "Update specific contact"
      description: "Update specific contact"
      operationId: "ListsContactsByListIdAndContactIdPut"
      produces:
      - "application/json"
      parameters:
      - name: "list_id"
        in: "path"
        description: "Contact list id"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ListId"
      - name: "contact_id"
        in: "path"
        description: "Contact ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ContactId"
      - in: "body"
        name: "contact"
        description: "Contact model"
        required: true
        schema:
          $ref: "#/definitions/Contact"
        x-exportParamName: "Contact"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    delete:
      tags:
      - "Contact"
      summary: "Delete a contact"
      description: "Delete a contact"
      operationId: "ListsContactsByListIdAndContactIdDelete"
      produces:
      - "application/json"
      parameters:
      - name: "list_id"
        in: "path"
        description: "List ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ListId"
      - name: "contact_id"
        in: "path"
        description: "Contact ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ContactId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /lists/{list_id}/remove-opted-out-contacts/{opt_out_list_id}:
    put:
      tags:
      - "Contact"
      summary: "Remove all opted out contacts"
      description: "Remove all opted out contacts"
      operationId: "ListsRemoveOptedOutContactsByListIdAndOptOutListIdPut"
      produces:
      - "application/json"
      parameters:
      - name: "list_id"
        in: "path"
        description: "Your list id"
        required: true
        type: "integer"
        exclusiveMaximum: false
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "ListId"
      - name: "opt_out_list_id"
        in: "path"
        description: "Your opt out list id"
        required: true
        type: "integer"
        exclusiveMaximum: false
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "OptOutListId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /lists/{from_list_id}/contacts/{contact_id}/transfer/{to_list_id}:
    put:
      tags:
      - "Contact"
      summary: "Transfer contact to another list"
      description: "Transfer contact to another list"
      operationId: "ListsTransferContactPut"
      produces:
      - "application/json"
      parameters:
      - name: "from_list_id"
        in: "path"
        description: "List ID for list that contains contact."
        required: true
        type: "integer"
        exclusiveMaximum: false
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "FromListId"
      - name: "contact_id"
        in: "path"
        description: "Contact ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ContactId"
      - name: "to_list_id"
        in: "path"
        description: "List ID for list you want to transfer contact to."
        required: true
        type: "integer"
        exclusiveMaximum: false
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "ToListId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /numbers:
    get:
      tags:
      - "Number"
      summary: "Get all availible dedicated numbers"
      description: "Get all availible dedicated numbers"
      operationId: "NumbersGet"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /numbers/buy/{dedicated_number}:
    post:
      tags:
      - "Number"
      summary: "Buy dedicated number"
      description: "Buy dedicated number"
      operationId: "NumbersBuyByDedicatedNumberPost"
      produces:
      - "application/json"
      parameters:
      - name: "dedicated_number"
        in: "path"
        description: "Phone number to purchase"
        required: true
        type: "string"
        x-exportParamName: "DedicatedNumber"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /numbers/search/{country}:
    get:
      tags:
      - "Number"
      summary: "Get all dedicated numbers by country"
      description: "Get all dedicated numbers by country"
      operationId: "NumbersSearchByCountryGet"
      produces:
      - "application/json"
      parameters:
      - name: "country"
        in: "path"
        description: "Country code to search"
        required: true
        type: "string"
        x-exportParamName: "Country"
      - name: "search"
        in: "query"
        description: "Your search pattern or query."
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "search_type"
        in: "query"
        description: "Your strategy for searching, 0 = starts with, 1 = anywhere,\
          \ 2 = ends with."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "SearchType"
        x-optionalDataType: "Int32"
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /statistics/voice:
    get:
      tags:
      - "Statistics"
      summary: "Get voice statistics"
      description: "Get voice statistics"
      operationId: "StatisticsVoiceGet"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /forgot-username:
    put:
      tags:
      - "Account"
      summary: "Forgot username"
      description: "Forgot username"
      operationId: "ForgotUsernamePut"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "forgotUsername"
        required: false
        schema:
          $ref: "#/definitions/forgotUsername"
        x-exportParamName: "ForgotUsername"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security: []
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /forgot-password:
    put:
      tags:
      - "Account"
      summary: "Forgot password"
      description: "Forgot password"
      operationId: "ForgotPasswordPut"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "forgotPassword"
        required: false
        schema:
          $ref: "#/definitions/forgotPassword"
        x-exportParamName: "ForgotPassword"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /forgot-password/verify:
    put:
      tags:
      - "Account"
      summary: "Verify forgot password"
      description: "Verify forgot password"
      operationId: "ForgotPasswordVerifyPut"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "verifyPassword"
        description: "verifyPassword data"
        required: true
        schema:
          $ref: "#/definitions/AccountForgotPasswordVerify"
        x-exportParamName: "VerifyPassword"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /sms/email-sms:
    get:
      tags:
      - "Email To Sms"
      summary: "Get list of email to sms allowed addresses"
      description: "Get list of email to sms allowed addresses"
      operationId: "SmsEmailSmsGet"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    post:
      tags:
      - "Email To Sms"
      summary: "Create email to sms allowed address"
      description: "Create email to sms allowed address"
      operationId: "SmsEmailSmsPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "emailSmsAddress"
        description: "EmailSMSAddress model"
        required: true
        schema:
          $ref: "#/definitions/EmailSMSAddress"
        x-exportParamName: "EmailSmsAddress"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /sms/email-sms-stripped-strings:
    get:
      tags:
      - "Email To Sms"
      summary: "Get list of email to sms stripped string rules"
      description: "Get list of email to sms stripped string rules"
      operationId: "SmsEmailSmsStrippedStringsGet"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    post:
      tags:
      - "Email To Sms"
      summary: "Create email to sms stripped string rule"
      description: "Create email to sms stripped string rules"
      operationId: "SmsEmailSmsStrippedStringPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "strippedString"
        description: "StrippedString model"
        required: true
        schema:
          $ref: "#/definitions/StrippedString"
        x-exportParamName: "StrippedString"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /sms/email-sms-stripped-strings/{rule_id}:
    get:
      tags:
      - "Email To Sms"
      summary: "Get email to sms stripped string rule"
      description: "Get email to sms stripped string rule"
      operationId: "SmsEmailSmsStrippedStringGet"
      produces:
      - "application/json"
      parameters:
      - name: "rule_id"
        in: "path"
        description: "Your rule id"
        required: true
        type: "integer"
        exclusiveMaximum: false
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "RuleId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    put:
      tags:
      - "Email To Sms"
      summary: "Update email to sms stripped string rule"
      description: "Update email to sms stripped string rule"
      operationId: "SmsEmailSmsStrippedStringPut"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "strippedString"
        description: "StrippedString model"
        required: true
        schema:
          $ref: "#/definitions/StrippedString"
        x-exportParamName: "StrippedString"
      - name: "rule_id"
        in: "path"
        description: "Your rule id"
        required: true
        type: "integer"
        exclusiveMaximum: false
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "RuleId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    delete:
      tags:
      - "Email To Sms"
      summary: "Delete email to sms stripped string rule"
      description: "Delete email to sms stripped string rule"
      operationId: "SmsEmailSmsStrippedStringDelete"
      produces:
      - "application/json"
      parameters:
      - name: "rule_id"
        in: "path"
        description: "Your rule id"
        required: true
        type: "integer"
        exclusiveMaximum: false
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "RuleId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /search/contacts-lists:
    get:
      tags:
      - "Search"
      summary: "Get list of searched contact list"
      description: "Get list of searched contact list"
      operationId: "SearchContactsListsGet"
      produces:
      - "application/json"
      parameters:
      - name: "q"
        in: "query"
        description: "Your keyword or query."
        required: true
        type: "string"
        x-exportParamName: "Q"
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /referral/accounts:
    get:
      tags:
      - "Referral Account"
      summary: "Get all referral accounts"
      description: "Get all referral accounts"
      operationId: "ReferralAccountsGet"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /reseller/accounts:
    get:
      tags:
      - "Reseller Account"
      summary: "Get list of reseller accounts"
      description: "Get list of reseller accounts"
      operationId: "ResellerAccountsGet"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of records per page"
        required: false
        type: "integer"
        default: 10
        exclusiveMaximum: false
        minimum: 1
        exclusiveMinimum: false
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    post:
      tags:
      - "Reseller Account"
      summary: "Create reseller account"
      description: "Create reseller account"
      operationId: "ResellerAccountsPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "resellerAccount"
        description: "ResellerAccount model"
        required: true
        schema:
          $ref: "#/definitions/ResellerAccount"
        x-exportParamName: "ResellerAccount"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
  /reseller/accounts/{client_user_id}:
    get:
      tags:
      - "Reseller Account"
      summary: "Get Reseller clients Account"
      description: "Get Reseller clients Account"
      operationId: "ResellerAccountsByClientUserIdGet"
      produces:
      - "application/json"
      parameters:
      - name: "client_user_id"
        in: "path"
        description: "User ID of client"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ClientUserId"
      responses:
        200:
          description: "SUCCESS"
          schema:
            type: "string"
        400:
          description: "BAD_REQUEST"
          schema:
            type: "string"
        401:
          description: "UNAUTHORIZED"
          schema:
            type: "string"
        403:
          description: "FORBIDDEN"
          schema:
            type: "string"
        404:
          description: "NOT_FOUND"
          schema:
            type: "string"
        405:
          description: "METHOD_NOT_FOUND"
          schema:
            type: "string"
        429:
          description: "TOO_MANY_REQUESTS"
          schema:
            type: "string"
        default:
          description: "INTERNAL_SERVER_ERROR"
          schema:
            type: "string"
      security:
      - BasicAuth: []
    put:
      tags:
      - "Reseller Account"
      summary: "Update Reseller clients Account"
      description: "Update Reseller clients Account"
      operationId: "ResellerAccountsByClientUserIdPut"
[...]
